.container {
  display: flex;
  justify-content: space-between;
  margin: 0; }

.card {
  display: inline-block;
  border: 1px solid #2d3748;
  color: inherit;
  background-color: #edf2f7;
  padding: 25px;
  height: 300px;
  width: 200px;
  margin: 20px; }
body.dark-mode .card {
  border: 1px solid #03DAC6;
  background-color: #212121; }

.card img {
  width: 200px;
  height: 200px;
  -webkit-user-drag: none; }
.card h4 {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 5px; }
.card h5 {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 30px; }

.cardcontrolbuttons {
  display: flex;
  justify-content: space-evenly; }
.card button {
  position: relative;
  bottom: 10px;
  left: 0px; 
  border-radius: 5px; 
  margin: 0px;
  font-size: 12px; }
body.dark-mode .card button {
  border: 1px solid #03DAC6; }
