/* general card structure */
.card {
  display: inline-block;
  border: 1px solid #2d3748;
  color: inherit;
  background-color: #edf2f7;
  padding: 25px;
  font-family: georgia, serif;
  height: 300px;
  width: 200px;
  margin: 20px; }
body.dark-mode .card {
  border: 1px solid #03DAC6;
  background-color: #212121; }

/* adjust cover size */
.card img {
  width: 200px;
  height: 200px;
  -webkit-user-drag: none; }

.card h4 {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.card h5 {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.card p {
  color: gray; }

/* display search-results here */
.container {
  display: flex;
  justify-content: space-between;
  margin: 0; }
