@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body::-webkit-scrollbar{ display: none; }
::-webkit-scrollbar {
    height: 5px;
    width: 0px;
}
::-webkit-scrollbar-track {
    background: inherit;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2d3748;
}
body { background-image: url(../images/Background2.jpg);
       background-size: cover;
       background-position-y: 70%; }
.moon2 { background-color: #fefefe; }
.parent2 { display: block;
           overflow-x: scroll;
           flex-wrap: wrap;
           height: 50vh;
           min-height: 420px;
           width: 100vw; }
.search-bar { display: flex;
              width: 100%;
              height: 15vh;
              min-height: 80px;
              align-items: center;
              justify-content: center; }
.search-input::placeholder { color: inherit;
                             font-style: italic;
                             user-select: none; }
.search-input { background-color: #edf2f7;
                width: 20%;
                padding: 10px;
                border: 1px solid #2d3748;
                color: #2d3748;
                border-radius: 20px;
                margin-left: 10px; }
body.dark-mode .search-input { border: 1px solid #03DAC6;
                               color: #03DAC6;
                               background-color: #212121; }
.search-button { background-color: #2d3748;
                 color: #edf2f7;
                 text-align: center;
                 position: relative;
                 width: 55px;
                 margin-left: 10px;
                 padding: 8px;
                 border-radius: 20px;
                 font-size: 15px;
                 cursor: pointer; }
body.dark-mode .search-button { background-color: #03DAC6;
                                color: #121212; }
.overlay { display: none;
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(0, 0, 0, 0.5);
           z-index: 3;
           transition: opacity 1s ease; }
.close { position: absolute;
         top: 0px;
         right: 0px;
         cursor: pointer;
         width: 40px;
         height: 20px;
         text-align: center; }
.popup { background-color: #edf2f7;
         display: none;
         position: fixed;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) scale(0);
         border: 1px solid #2d3748;
         z-index: 9999;
         width: 800px;
         height: 400px;
         transition: transform 0.5s ease; }
body.dark-mode .popup { background-color: #121212;
                        border: 1px solid #03DAC6; }
.popup img { position: absolute;
             height: 90%;
             width: auto;
             max-width: 50%;
             min-width: 30%;
             transform: translate(5%, 5%);
             -webkit-user-drag: none; }
.popup h1, .popup h2 { font-weight: lighter; 
                       position: relative;
                       left: 55%;
                       max-width: 40%;
                       white-space: nowrap;
                       overflow: hidden;
                       text-overflow: ellipsis; }
.popup h1 { top: 10%; }
.popup h2 { top: 25%;
            position: absolute; }

.table-container { border-collapse: collapse;
                   position: absolute;
                   left: 55%;
                   top: 40%;
                   width: 300px;
                   max-height: 200px;
                   overflow-y: scroll;
                   padding-right: 8px; }
.popup table { width: 100%;
               border-collapse: collapse; }
.popup table td:first-child, th:first-child { text-align: left;
                                              overflow: hidden;
                                              max-width: 225px;
                                              text-overflow: ellipsis;
                                              white-space: nowrap; }
.popup table td:last-child, th:last-child { text-align: right; }
.table-container::-webkit-scrollbar { width: 5px; }
.table-container::-webkit-scrollbar-thumb { background-color: #2d3748;
                                            border-radius: 5px; }
body.dark-mode .table-container::-webkit-scrollbar-thumb { background-color: #03DAC6; }
.ratedisplay { position: relative;
               left: 55%;
               top: 70%;
               margin-left: 0px;
               padding-left: 0px; }
.ratebutton { width: 60px;
              position: absolute;
              border-radius: 20px;
              font-size: 12px;
              top: 11px; }
.rate { display: inline-block;
        border: 0; }
.rate > input { display: none; }
.rate > label { float: right; }
.rate > label:before { display: inline-block;
                       font-size: 1.1rem;
                       padding: .3rem .2rem;
                       margin: 0;
                       cursor: pointer;
                       font-family: FontAwesome;
                       content: "\f005 "; }
.rate > label:last-child:before { content: "\f006 "; }
.rate .half:before { content: "\f089 ";
                     position: absolute;
                     padding-right: 0; }
input:checked ~ label,
label:hover, label:hover ~ label { color: #73B100; }
input:checked + label:hover, input:checked ~ label:hover,
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label { color: #A6E72D; }

@media screen and (max-width: 768px) and (min-height: 500px) {
.popup { width: 400px;
         height: 800px; } 
.popup img { position: revert;
             height: 350px;
             width: 350px;
             padding: 25px;
             transform: none;
             -webkit-user-drag: none; }
.popup h1 { margin-top: 0px;
            margin-left: 25px; }
.popup h2 { position: revert; }
.table-container { position: revert;
                   margin-left: 25px;
                   width: 350px; }
.ratedisplay { position: revert;
               margin-left: 25px; }
.ratebutton { position: revert;
              height: 20px;
              margin-top: 8px; }
}
