body {
    font-family: "Times New Roman", sans-serif;
    color: navy;
    background-color: ivory;
    margin: 0;
    padding: 0;
    height: 300vh;
}

.myheader {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 9vh;
  user-select: none;
}

.banner {
    font-family: georgia, serif;
    background-color: inherit;
    color: navy;
    text-align: center;
    height: 100%;
    width: 100%;
}

.page-button {
    font-style: italic;
    display: inline-block;
    background-color: inherit;
    color: navy;
    text-decoration: none;
    width: 16%;
    position: relative;
}

.imherebutton {
  display: inline-block;
  background-color: inherit;
  font-weight: bold;
  font-style: italic;
  color: #5B6F55;
  text-decoration: none;
  width: 16%;
  position: relative;
}

.page-button:not(:first-child)::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: navy;
    top: 0;
    left: 0;
}
