body::-webkit-scrollbar{ display: none; }
.myprofile { overflow-x: scroll; }
.introduction { display: flex;
                flex-direction: column;
                height: 300px;
                margin-left: 20px;
                justify-content: center; }
.introduction h1 { font-size: 65px;
                   margin: 0; }
.introduction h2 { font-size: 35px;
                   margin: 0;
                   font-weight: lighter; }
.introduction h3 { font-size: 24px;
                   margin: 0;
                   font-weight: lighter; }

.numberoneitems { height: 56vh;
                  min-height: 300px;
                  overflow-x: scroll;
                  display: flex; }
.numberoneartist, .numberonesong { display: flex;
                                   height: 100%;
                                   width: 50%; }
.numberoneartist img, .numberonesong img { width: 200px;
                                           height: 200px;
                                           -webkit-user-drag: none;
                                           border-radius: 50%;
                                           margin-left: 20px;
                                           margin-right: 30px; }
.numberoneinfo h2, .numberoneinfo h4 { font-weight: lighter; }
.myprofileplaybutton { border-radius: 5px;
                       margin: 0; }
.userstats { display: flex; }
.topartists, .topsongs { display: flex;
                         flex-direction: column;
                         justify-content: space-between;
                         height: 90vh;
                         width: 50vw;
                         padding: 2vw; }
.topartists { background-color: red; }
.topsongs { background-color: green; }
.topitemcontainer { display: flex;
                    width: 100%;
                    height: 20vh;
                    border: 1px solid; }
.topitemcontainer img { height: 15vh;
                        width: 15vh;
                        padding: 2.5vh; }
.artistinfo, .songinfo {display: flex;
                        flex-direction: column;
                        justify-content: center; }
.artistinfo h1, .songinfo h1 { font-size: 25px;
                               margin: 0; }
.artistinfo h2, .songinfo h2 { font-size: 20px;
                               font-weight: lighter; }

@media screen and (max-width: 768px) {
html, body { overflow-x: hidden; }
.introduction { height: 20vh;
                min-height: 20vh; }
.introduction h1 { font-size: 40px; }
.introduction h2 { font-size: 20px; }
.introduction h3 { font-size: 13px;
                   margin-bottom: 0px; }
.numberoneitems { height: 53vh;
                  min-height: 53vh; }
.numberoneartist, .numberonesong { flex-direction: column;
                                   text-align: center; }
.artistinfo, .songinfo { align-items: center; }
.numberoneartist img, .numberonesong img { margin: 0;
                                           margin-top: 10px; }
.numberoneartist h4, .numberonesong h4 { font-size: 14px; }
.numberoneartist h1, .numberonesong h1 { font-size: 25px; }
.numberoneartist h2, .numberonesong h2 { font-size: 15px; }
.myprofileplaybutton { font-size: 15px;
                       height: 20px;
                       width: 120px; }
.userstats { flex-direction: column; }
.topartists, .topsongs { width: 100vw;
                         height: 80vh; }
.topitemcontainer { width: 90vw;
                    height: 40vw; }
.topitemcontainer img { width: 30vw;
                        height: 30vw; }
.artistinfo h1, .songinfo h1 { font-size: 20px; }
.artistinfo h2, .songinfo h2 { font-size: 15px; }
}
