body::-webkit-scrollbar{ display: none; }

.myprofile { height: 250vh; }

.introduction { height: 40vh;
  background-color: blue; }

.numberoneitems { height: 51vh;
                  display: flex; }
.numberoneartist, .numberonesong { height: 100%;
                   width: 50%;
                   padding: 7.5% }
.numberoneartist img, .numberonesong img { width: 200px;
                                           height: 200px; }
.numberoneartist { background-color: yellow; }
.numberonesong { background-color: purple; }

.userstats { height: 160vh;
             display: flex; }
.topartists, .topsongs { height: 100%;
                         width: 50%;
                         padding: 7.5%; }
.topartists { background-color: red; }
.topsongs { background-color: green; }
