body::-webkit-scrollbar{ display: none; }
body { background-image: url(../images/Background1.jpg);
       background-size: contain; }
::-webkit-scrollbar {
    height: 5px;
    width: 0px;
}
::-webkit-scrollbar-track {
    background: inherit;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2d3748;
}
body.dark-mode::-webkit-scrollbar-thumb {
  background-color: #03DAC6;
}
.parent { display: grid;
  	  grid-template-columns: repeat(24, 1fr);
  	  grid-template-rows: repeat(12, 1fr);
  	  height: 100vh;
	  min-height: 800px;
  	  user-select: none; }
.parent2 { display: flex;
	   height: 100vh;
	   min-height: 800px;
	   user-select: none; }
.parent3 { display: block;
  	   height: 11vh; }
.parent img, .parent2 img { width: 100%;
  			    height: auto;
  			    object-fit: cover; }
.image-hover { transition: transform 0.2s; }
.image-hover:hover { transform: scale(1.02); }
.displayalbums { border-radius: 50%; }
.moon2 { background-color: #fefefe; }
.parent h1, .parent h2, .parent2 h1, .parent2 h2 { margin: 0;
  						   padding: 0;
  						   font-weight: lighter; }
.parent h1 { font-size: 4vw; }
.parent2 h2 { text-decoration: underline;
    	      cursor: pointer;
    	      font-size: 19px; }
.container { height: 30vh;
	     min-height: 250px;
  	     display: block;
  	     user-select: none;
  	     color: #edf2f7;
  	     background-color: #2d3748;
	     padding-top: 25px; }
.container h1 { font-weight: lighter;
	        font-size: 20px;
	        margin-left: 10px; }
body.dark-mode .container { background-color: #212121;
			    color: #03DAC6; }

.explorebutton { grid-area: 10 / 12 / 10 / 14;
  		 display: flex;
  		 flex-direction: column;
  		 align-items: center;
  		 text-align: center; }
#myexploretext { transition: opacity 0.65s; }
#explore-button { transition: opacity 0.65s;
  		  width: 40px;
  		  height: 40px;
  		  border-radius: 50%;
  		  border: 1px solid #2d3748;
  		  cursor: pointer;
  		  user-select: none;
		  background-color: #edf2f7; }
body.dark-mode #explore-button { background-color: #212121;
  				 border: 1px solid #03DAC6;
  				 color: #03DAC6; }
.div1 { grid-area: 2 / 2 / 7 / 7;
        min-width: 300px; }
.div2 { grid-area: 5 / 18 / 10 / 23;
        min-width: 300px; }
.div3 { grid-area: 4 / 7 / 6 / 24; }
.div7 { grid-area: 7 / 1 / 9 / 18;
	text-align: end; }
.displayimagescontainer { position: relative;
			  display: block;
	         	  width: 40%;
	         	  height: 100%;
			  margin-top: 10vh; }
.displayimagescontainer img { width: 15vw;
		    	      height: auto;
			      transform: translate(-50%, -50%); }
#da-abbeyroad { position: absolute;
	 top: 20%;
         left: 30%; }
#da-motm2 { position: absolute;
	 top: 45%;
         left: 70%; }
#da-dsotm { position: absolute;
	 top: 70%;
         left: 40%; }
.explore1, .explore2, .explore3 { position: relative;
	    			  height: 100%;
	    			  width: 15%;
	    			  padding: 10px; }

@media screen and (max-width: 768px) and (min-height: 500px) {
html, body { overflow-x: hidden; }
.image-hover { transition: none; }
.image-hover:hover { transform: none; }
.displayimagescontainer { display: none;
			  width: 0%; }
.parent { display: block;
	  height: 80vh;
	  text-align: center;
	  padding-top: 3vh; }
.div1, .div2 { display: block;
               width: 100%;
               height: 35vh;
	       min-height: 300px; }
.div1 img, .div2 img { height: 35vh;
		       width: 35vh;
		       min-height: 300px;
		       min-width: 300px; }
.div3, .div7 { display: block;
	       width: 100%;
	       height: 5vh;
	       min-height: 33px;
	       text-align: center; }
#myexploretext { display: none; }
.explore-button { display: none; }
.explore1, .explore2, .explore3 { width: 100%;
				  height: auto;
				  display: flex;
				  flex-direction: column;
				  align-items: center;
				  padding-left: 15vw;
				  padding-right: 15vw; }
.div3 h1, .div7 h1 { font-size: 30px; }
.parent2 { display: flex;
	   text-align: center;
	   height: 70vh;
	   min-height: 700px;
	   width: 100%;
	   overflow-x: scroll; }
.parent2 img { width: 35vh;
	       height: 35vh; }
.parent3 { display: none; }
.explore1 p, .explore2 p, .explore3 p {
	margin-left: 10%;
	margin-right: 10%;
}
.explore1 h1, .explore2 h1, .explore3 h1 {
	margin-left: 5%;
	margin-right: 5%;
}
}
