.parent {
    height: 91vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    user-select: none; }

.div1 {
    grid-area: 3/3/10/10; }

.div1 img {
  width: 100%;
  height: auto;
  object-fit: cover; }

.div2 {
    grid-area: 3/10/5/22;
    padding: 0px; 
    padding-left: 10px; }

.div2 h1, h2 {
    font-weight: lighter; }

.div2 td:last-child {
    text-align: right;
    width: 100px; }

.div2 th:last-child {
    text-align: right; }

.div2 th:first-child {
    text-align: left; }
