@font-face { font-family: 'Varela Round';
  src: url('VarelaRound.ttf') format('truetype'); }
body { font-family: "Varela Round", sans-serif;
  color: #2d3748;
  background-color: #edf2f7;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll; }
body.dark-mode { background-color: #252526;
  color: #03DAC6; }
#profileImage { position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  display: none;
  -webkit-user-drag: none; }
#displayName { position: absolute;
               top: 0;
               left: 50px; }
.banner { display: block;
          height: 7vh;
          min-height: 50px; }
#tm-banner { text-align: center; }
.nav-container { display: flex;
                 justify-content: center; }
.page-button { background-color: inherit;
  width: 16%;
  position: relative;
  text-align: center;
  border-left: 1px solid #2d3748;
  transition: background-color 0.5s, color 0.5s; }
body.dark-mode .page-button { border-left: 1px solid #03DAC6; }
.page-button:hover { background-color: #2d3748;
  color: #edf2f7; }
body.dark-mode .page-button:hover { background-color: #03DAC6;
  color: #252526; }
.loginbtn { display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 34px;
  border-radius: 10px;
  background-color: #2d3748;
  color: #edf2f7;
  cursor: pointer; }
body.dark-mode .loginbtn { color: #252526;
    background-color: #03DAC6; }
.loginbtn p { margin: auto; }
a:-webkit-any-link { color: inherit;
  cursor: pointer;
  text-decoration: inherit; }
/* move to darkmodeswitch.css */
body:not(.dark-mode) .slider:before { background-color: #2d3748; }
