/* body */
body {
    font-family: "Times New Roman", sans-serif;
    color: #2d3748;
    background-color: #edf2f7;
    margin: 0;
    padding: 0;
    user-select: none; }
body.dark-mode {
  background-color: #121212;
  color: #BB86FC; }

.myheader {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 9vh;
    user-select: none; }
.nav-container {
    font-family: "Baskerville", sans-serif; }
/* Head Banner "Your Website Banner" */
.banner {
    font-family: "Georgia", serif;
    background-color: inherit;
    color: inherit;
    text-align: center; }
/* page buttons */
.page-button {
    display: inline-block;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    width: 16%;
    position: relative;
    border-left: 1px solid #2d3748;
    transition: background-color 0.5s, color 0.5s; }
body.dark-mode .page-button {
    border-left: 1px solid #BB86FC; }
/* page button hover coloring */
.page-button:hover {
  background-color: #2d3748;
  color: #edf2f7; }
body.dark-mode .page-button:hover {
  background-color: #BB86FC;
  color: #121212; }
/* color of the switch button */
body:not(.dark-mode) .slider:before {
    background-color: #2d3748; }
.loginbtn {
  position: absolute;
  top: 2%;
  left: 45px;
  display: flex;
  width: 60px;
  height: 34px;
  border-radius: 50%; }
