.menu {
  width: 250px;
  height: 425px;
  background-color: #2d3748;
  position: absolute;
  right: -251px;
  color: #edf2f7;
  text-align: center; }
body.dark-mode .menu {
  background-color: #212121;
  color: #03DAC6;
  border-top: 1px solid #03DAC6;
  border-left: 1px solid #03DAC6; }
.controls {
  width: 250px;
  height: 75px;
  background-color: #2d3748;
  position: absolute;
  right: -251px;
  top: 425px;
  color: #edf2f7;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; }
.controlbuttons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; }
body.dark-mode .controls {
  background-color: #212121;
  color: #03DAC6;
  border-left: 1px solid #03DAC6;
  border-bottom: 1px solid #03DAC6; }
.menu img {
  width: 200px;
  height: 200px;
  padding: 25px;
  padding-bottom: 0px; }
.menu h1 {
  font-size: 18px;
  padding: 10px; }
.menu h2 {
  font-size: 14px;
  padding: 10px; }
.extendmenu {
  width: 30px;
  height: 100px;
  background-color: #2d3748;
  position: absolute;
  right: -1px;
  transition: transform 0.5s ease;
  color: #edf2f7; }
body.dark-mode .extendmenu {
  background-color: #212121;
  color: #03DAC6;
  border-left: 1px solid #03DAC6;
  border-top: 1px solid #03DAC6;
  border-bottom: 1px solid #03DAC6; }
.extendmenu p { /* arrow */
  font-size: 30px;
  font-weight: bold; }
.musicplayer {
  transition: transform 0.5s ease;
  position: fixed; 
  right: 0;
  z-index: 5; }
.musicplayer:hover {
  transform: translateX(-250px); }

/* controls */
button {
   background-color: #2d3748;
   color: #edf2f7;
   border: none;
   font-size: 20px;
   margin: 0 10px;
   cursor: pointer; }
body.dark-mode button {
   background-color: #212121;
   color: #03DAC6; }
progress {
   width: 200px;
   margin-top: 10px;
   margin-bottom: 25px;
   margin-left: 25px;
   margin-right: 25px; }
