.menu {
  width: 250px;
  height: 400px;
  background-color: #2d3748;
  position: absolute;
  right: -251px;
  color: #edf2f7;
  text-align: center; }
body.dark-mode .menu {
  background-color: #212121;
  color: #03DAC6;
  border-top: 1px solid #03DAC6;
  border-left: 1px solid #03DAC6; }
.controls {
  width: 250px;
  height: 100px;
  background-color: #2d3748;
  position: absolute;
  right: -251px;
  top: 399px;
  color: #edf2f7;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; }
.controlbuttons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; }
body.dark-mode .controls {
  background-color: #212121;
  color: #03DAC6;
  border-left: 1px solid #03DAC6;
  border-bottom: 1px solid #03DAC6; }
#pauseButton, #resumeButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #03DAC6;
    color: #212121; }
#resumeButton {
  display: none; }
#skipBack, #skipForward {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: #03DAC6;
    color: #212121;
    margin-top: 7px; }
.menu img {
  width: 200px;
  height: 200px;
  padding: 25px;
  padding-bottom: 0px;
  -webkit-user-drag: none; }
.menu h1 {
  font-size: 19px;
  padding: 10px;
  font-weight: lighter;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  padding-left: 25px; 
  padding-right: 25px; }
.menu h2 {
  font-size: 14px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: lighter;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; }
.extendmenu {
  width: 30px;
  height: 100px;
  background-color: #2d3748;
  position: absolute;
  right: -1px;
  transition: transform 0.5s ease;
  color: #edf2f7; }
body.dark-mode .extendmenu {
  background-color: #212121;
  color: #03DAC6;
  border-left: 1px solid #03DAC6;
  border-top: 1px solid #03DAC6;
  border-bottom: 1px solid #03DAC6; }
.extendmenu p {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px; }
.musicplayer {
  transition: transform 0.5s ease;
  position: fixed; 
  right: 0;
  z-index: 5; }
.musicplayer:hover {
  transform: translateX(-250px); }
button {
   background-color: #2d3748;
   color: #edf2f7;
   border: none;
   font-size: 20px;
   margin: 0 10px;
   cursor: pointer; }
body.dark-mode button {
   background-color: #212121;
   color: #03DAC6; }
progress {
   width: 200px;
   height: 10px;
   margin-top: 10px;
   margin-bottom: 25px;
   margin-left: 25px;
   margin-right: 25px; }
progress[value]::-webkit-progress-bar {
background-color: #121212;
border-radius: 10px; }
progress[value]::-webkit-progress-value {
border-radius: 10px;
background-color: #03DAC6; }
progress[value]::-moz-progress-bar {
background-color: #03DAC6; }
progress[value] {
appearance: none;
border-radius: 10px;
background-color: #121212;
overflow: hidden; }
